@font-face {
    font-family: Cookie, cursive;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
}
@font-face {
    font-family: Figtree, sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');
}
@font-face {
    font-family: Playfair Display, serif;
    font-style: normal;
    font-weight: 900;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
}

* {
    color: black;
}

header {
    display: grid;
    grid-template-columns: 10vw 60vw 20vw;
    align-items: center;
    background-color: black;
    padding: 2vw;
}

.logo {
    max-height: 4vw;
    min-width: auto;
    justify-self: center;
}

.sitetitle {
    font-family: Playfair Display, serif;
    font-size: 4vw;
    margin: 1vw 0 1vw 0;
    color: white;
    background-color: black;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.socials img {
    height: 3vw;
    max-width: 100%;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heros {
    position: relative;
    top: -3vw;
    display: grid;
    grid-template-columns: 21vw 21vw 21vw;
    grid-template-rows: 21vw;
    font-family: Figtree;
}

.signs-hero, .railings-hero, .gates-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin: 1vw 1vw 1vw 1vw;
    border-style: solid;
    border-color: black;
    background-size: contain;
    cursor:pointer;
} 

.railings-hero {
    background-image: url('images/railings/railings.jpg');
}

.gates-hero {
    background-image: url('images/gates/gates.jpg');
}

.signs-hero {
    background-image: url('images/signs/mcginnis.png');
}

.signs-hero:hover > h2, .railings-hero:hover > h2, .gates-hero:hover > h2 {
    scale: 110%;
}

h2 {
    font-family: Figtree;
    display: inline;
    color: white;
    background-color: black;
    padding: 0.25vw;
    transition: all, 0.25s;
}

.orders {
    font-family: Figtree;
    padding: 0 10vw 0 10vw;
}

.order {
    padding: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}

.order h2 {
    background-color: unset;
    color: black;
    margin: 0 0 1vw 0;
    padding: 0;
}

.order h3 {
    margin: 0 0 1vw 0;
    padding: 0;
}

.order-info, .order-header {
    display: grid;
    grid-template-columns: 15vw auto;
    align-items: center;
}

.order-instructions {
    display: grid;
    grid-template-rows: 2vw auto;
}

.order-dates {
    display: grid;
    align-items: center;
    grid-template-rows: 2vw 2vw 4vw;
}

.order button {
    padding: 1vw;
    border-style: none;
    background-color: black;
    color: white;
    font-family: Figtree;
}

a {
    transition: all, 0.25s;
}

a:hover {
    color: dimgrey;
    scale: 110%;
}

.buy-me {
    padding: 1vw;
    background-color: black;
    color: white;
    display: block;
    transition: background-color, 0.25s;
}

.buy-me:hover {
    background-color: dimgrey;
}

.form  {
    font-family: Figtree;
}

.form h1 {
    background-color: unset;
    color: black;
    font-family: Cookie;
    font-size: 4vw;
}

.heros + .form {
    position: relative;
    top: -4vw;
}

input, textarea {
    box-sizing: border-box;
    display: block;
    width: 62vw;
    resize: none;
    border-style: solid;
    border-color: black;
    font-family: Figtree;
}

.product {
    display: grid;
    grid-template-columns: 31vw 31vw;
    grid-template-rows: auto 8vw;
    padding: 1vw;
    margin-top: 1vw;
    border-style: solid;
    border-color: black;
}

.product-visual {
    justify-self: center;
}

.product-thumbs {
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.product-thumbs img {
    cursor: pointer;
    margin-top: 1vw;
    transition: all, 0.25s;
}

.product-thumbs .current {
    border-style: solid;
    border-color: black;
}

#product-image {
    max-width: 31vw;
    max-height: 100%;
    transition: opacity, 1s;
}

#product-image.transition {
    opacity: 0;
}

.product-text {
    font-family: Figtree;
    margin-left: 2vw;
}

.product-text h2 {
    padding-left: 0;
    font-size: 3vw;
    color: black;
    background-color: unset;
}

@media screen and (max-width:800px) {
    * {
        color: black;
    }
    
    header {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 10vw 10vw;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        background-color: black;
        padding: 2vw;
    }
    
    .logo {
        max-height: 6.5vw;
        min-width: auto;
    }
    
    .sitetitle {
        font-family: 'Playfair Display', serif;
        font-size: 5.5vw;
        margin: 1vw 0 1vw 0;
        color: white;
        background-color: black;
        text-decoration: none;
    }

    .socials {
        grid-row: 2 / 2;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .socials img {
        height: 6vw;
        max-width: 100%;
        padding: 0 2vw 0 2vw;
    }
    
    .main-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .heros {
        position: relative;
        top: -4vw;
        display: grid;
        grid-template-columns: 70vw;
        grid-template-rows: 70vw 70vw 70vw;
        font-family: Figtree;
    }
    
    .signs-hero, .railings-hero, .gates-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vw;
        margin: 1vw 1vw 1vw 1vw;
        border-style: solid;
        border-color: black;
        background-size: contain;
        cursor:pointer;
    } 
    
    .railings-hero {
        background-image: url('images/railings/railings.jpg');
    }
    
    .gates-hero {
        background-image: url('images/gates/gates.jpg');
    }
    
    .signs-hero {
        background-image: url('images/signs/mcginnis.png');
    }
    
    .signs-hero:hover > h2, .railings-hero:hover > h2, .gates-hero:hover > h2,
    .signs-hero:active > h2, .railings-hero:active > h2, .gates-hero:active > h2 {
        scale: 110%;
    }
    
    h2 {
        display: inline;
        color: white;
        background-color: black;
        padding: 0.25vw;
        transition: all, 0.25s;
    }
    
    a {
        transition: all, 0.25s;
    }
    
    a:hover {
        color: dimgrey;
        scale: 110%;
    }
    
    .buy-me {
        margin-top: 2vw;
        padding: 1vw;
        background-color: black;
        color: white;
        display: block;
        transition: background-color, 0.25s;
    }
    
    .buy-me:hover {
        background-color: dimgrey;
    }
    
    .form {
        font-family: Figtree;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form form {
        display: flex;
        flex-direction: column;
    }
    
    .form h1 {
        background-color: unset;
        color: black;
        font-family: Cookie;
        font-size: 10vw;
    }
    
    .heros + .form {
        position: relative;
        top: -2vw;
    }
    
    input, textarea {
        box-sizing: border-box;
        display: block;
        width: 96vw;
        resize: none;
    }
    
    .product {
        display: grid;
        grid-template-columns: 80vw;
        grid-template-rows: 80vw 12vw auto;
        padding: 1vw;
        margin-top: 1vw;
        border-style: solid;
        border-color: black;
    }
    
    .product-visual {
        justify-self: center;
        margin-bottom: 1vw;
    }

    .product-thumbs {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    
    .product-thumbs img {
        transition: all, 0.25s;
    }
    
    .product-thumbs .current {
        border-style: solid;
        border-color: black;
    }
    
    #product-image {
        max-width: 80vw;
        max-height: 100%;
        transition: opacity, 1s;
    }
    
    #product-image.transition {
        opacity: 0;
    }
    
    .product-text {
        font-family: Figtree;
        margin: 2vw 0 0 2vw;
    }
    
    .product-text h2 {
        padding-left: 0;
        font-size: 6vw;
        color: black;
        background-color: unset;
    }

    .orders {
        font-family: Figtree;
        padding: 0 10vw 0 10vw;
    }
    
    .order {
        padding: 2vw;
        margin-bottom: 2vw;
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color: black;
    }
    
    .order h2 {
        background-color: unset;
        color: black;
        margin: 0 0 1vw 0;
        padding: 0;
    }
    
    .order h3 {
        margin: 0 0 1vw 0;
        padding: 0;
    }
    
    .order-info, .order-header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    
    .order-instructions {
        display: flex;
        flex-direction: column;
    }
    
    .order-dates {
        display: flex;
        flex-direction: column;
    }
    
    .order button {
        padding: 2vw;
        border-style: none;
        background-color: black;
        color: white;
        font-family: Figtree;
    }
}